:root {
    --theme-background-dark: #121812;
    --theme-darkest: #379237;
    --theme-dark: #54B435;
    --theme-accent: #F0FF42;
    --theme-light: #82CD47;
    --theme-text: #F0FFF0;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #3c3c42 #1f1c25;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--theme-dark);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-darkest);
    border-radius: 6px;
    border: 3px solid var(--theme-light);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5a5466;
}

::-webkit-scrollbar-corner {
    background: #1f1c25;
}

html {
    font-size: 16px;
}

body {
    background-color: #000517;
    color: var(--theme-text);
    font-family: "Inconsolata", monospace;
    line-height: 1.7;
    margin: 0;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

article {
    padding: 30px;
    height: calc(90vh - 20px);
    border: 3px solid var(--theme-dark);
    border-radius: 15px 0 0 15px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

footer {
    height: 20px;
    display: grid;
    align-items: center;
    font-size: 0.8rem;
    padding-left: 10px;
}

b {
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-text);
    margin-top: 24px;
    margin-bottom: 16px;
    text-shadow: 2px 2px 4px #000;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4,
h5,
h6 {
    font-size: 1.2em;
}

a {
    color: var(--theme-light);
    text-decoration: none;
    border-bottom: 2px solid var(--theme-light);
}

a:hover {
    color: var(--theme-accent);
    border-color: var(--theme-accent);
}

ul,
ol {
    padding-left: 30px;
}

code {
    background-color: var(--theme-background-dark);
    border-radius: 6px;
    color: var(--theme-light);
    padding: 0.4em 0.6em;
    font-family: "Inconsolata", monospace;
}

pre code {
    padding: 0;
}

pre {
    background-color: var(--theme-background-dark);
    border-radius: 6px;
    padding: 1em;
    overflow: auto;
    box-shadow: 2px 2px 6px #000;
}

blockquote {
    background-color: var(--theme-dark);
    border-left: 4px solid var(--theme-accent);
    padding-left: 2em;
    margin-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    color: #ddd;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    border: 3px solid var(--theme-accent);
    box-shadow: 3px 3px 6px #000;
}
